<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="default.console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy/MM/dd HH:mm:ss.SSS} [%thread] %p %c{2}: %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <expression>return logger.equals("org.apache.kafka.common.utils.AppInfoParser")
                    &amp;&amp; message.contains("Error registering AppInfo mbean");</expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
    </appender>

    <logger name="io.logz" level="INFO"/>
    <logger name="com.logshero" level="INFO"/>
    <logger name="com.logshero.gaia.metrics" level="ERROR"/>
    <logger name="org.testcontainers" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="default.console"/>
    </root>
</configuration>